@using Helpers
@using LCTMoodle.LCTView
@model DTOLayer.BaiVietTaiLieuDTO
@{
    var maKhoaHoc = Model.khoaHoc.ma.Value;
    var maNguoiDung = Session["NguoiDung"] as int?;

    string[] dsQuyen;
    bool coQuyenSua, coQuyenXoa, chuaXem;

    if (maNguoiDung.HasValue)
    {
        var ketQua = BUSLayer.KhoaHoc_NguoiDungBUS.layTheoMaKhoaHocVaMaNguoiDung(maKhoaHoc, maNguoiDung.Value);
        chuaXem = ketQua.trangThai == 0 && ((ketQua.ketQua as DTOLayer.KhoaHoc_NguoiDungDTO).trangThai == 0 && Model.danhSachMaThanhVienDaXem.IndexOf("|" + maNguoiDung.Value + "|") == -1);
        
        if (ViewData.ContainsKey("DSQuyen"))
        {
            dsQuyen = ViewData["DSQuyen"] as string[];
        }
        else
        {
            dsQuyen = QuyenView.layDSQuyen("KH", maKhoaHoc, maNguoiDung);
        }

        coQuyenSua = maNguoiDung == Model.nguoiTao.ma || QuyenHelper.co(dsQuyen, "TL_Sua");
        coQuyenXoa = maNguoiDung == Model.nguoiTao.ma || QuyenHelper.co(dsQuyen, "TL_Xoa");
    }
    else
    {
        dsQuyen = null;
        chuaXem = coQuyenSua = coQuyenXoa = false;
    }
}

<li data-doi-tuong="muc-bai-viet" class="muc-bai-viet" data-ma="@Model.ma" @(chuaXem ? "data-chua-xem" : null)>
    <h2 class="tieu-de">
        <i class="pe-7s-ribbon"></i>
        @Model.tieuDe
    </h2>
    <section data-doi-tuong="khung-noi-dung" class="khung-noi-dung">
        <section class="noi-dung noi-dung-ckeditor">
            @Html.Raw(Model.noiDung)
        </section>
        @if (Model.tapTin != null)
        {
            <section class="tap-tin">
                <a @if (TapTinHelper.coHoTroXem(Model.tapTin.duoi)) {      @: data-chuc-nang="mo-popup-tap-tin"
                                   } href="/LayTapTin/BaiVietTaiLieu_TapTin/@Model.tapTin.ma">
                    <img src="/LayHinh/BaiVietTaiLieu_TapTin/@Model.tapTin.ma" />
                    <span>@Model.tapTin.ten</span>
                </a>

            </section>
        }
    </section>
    @if (coQuyenSua || coQuyenXoa)
    {
        <section class="khung-chuc-nang-lct ben-trai" style="top: 10px; right: 10px;">
            <ul data-doi-tuong="cnbg-@Model.ma">
                @if (coQuyenSua)
                {
                    <li>
                        <a data-chuc-nang="sua-bai-viet">Sửa tài liệu</a>
                    </li>
                }
                @if (coQuyenXoa)
                {
                    <li>
                        <a data-chuc-nang="xoa-bai-viet">Xóa tài liệu</a>
                    </li>
                }
            </ul>
            <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cnbg-@Model.ma">
                <i class="pe-7f-config"></i>
            </button>
        </section>
    }
</li>