@model DTOLayer.NguoiDungDTO
@using Helpers
@using LCTMoodle.LCTView
@{
    ViewData["Title"] = "Cập nhật thông tin Người dùng";
    Layout = "~/Views/LCT/Khung.cshtml";
    ViewData["DieuHuong"] = new List<string>()
    {
        "Người Dùng", "/NguoiDung/Xem/" + Session["NguoiDung"],
        "Cập nhật thông tin cá nhân", "/NguoiDung/Sua/" + @Model.ma
    };

    int? maNguoiDung = Session["NguoiDung"] as int?;
    bool coQuyenDoiMatKhau, coQuyenQuanLyNguoiDung;
    string[] dsQuyen;

    if (maNguoiDung.HasValue)
    {
        dsQuyen = QuyenView.layDSQuyen("ND", 0, maNguoiDung);
        coQuyenDoiMatKhau = true;
    }
    else
    {
        dsQuyen = null;
        coQuyenDoiMatKhau = coQuyenQuanLyNguoiDung = false;
    }

    coQuyenQuanLyNguoiDung = QuyenHelper.co(dsQuyen, "QLNguoiDung");

    if (coQuyenDoiMatKhau || coQuyenQuanLyNguoiDung)
    {
        List<string> chucNang = new List<string>();
        if (coQuyenDoiMatKhau)
        {
            chucNang.Add("Đổi mật khẩu");
            chucNang.Add("href='/NguoiDung/DoiMatKhau/'");
        }
        if (coQuyenQuanLyNguoiDung)
        {
            chucNang.Add("Quản lý người dùng");
            chucNang.Add("href='/NguoiDung/QuanLyNguoiDung/'");
            chucNang.Add("Danh sách người dùng bị chặn");
            chucNang.Add("href='/NguoiDung/DanhSachNguoiDungBiChan/'");
        }
        ViewData["ChucNang"] = chucNang;
    }
}
@section Styles {
}
@section Scripts {
    <script src="/SuaNguoiDung.js/NguoiDung"></script>
}

@if (Model != null)
{
    <article class="hop hop-2-vien">
        <section class="tieu-de">Sửa thông tin người dùng</section>
        <section class="noi-dung">
            <article>
                <form class="lct-form" action="/NguoiDung/XuLyThem" method="POST" data-doi-tuong="form-sua-nguoi-dung" data-cap-nhat data-ma="@Model.ma" data-ten-tai-khoan="@Model.tenTaiKhoan">
                    <input type="hidden" name="Ma" value="@Model.ma" />
                    <article>
                        <ul>
                            <li>
                                <section class="tieu-de">
                                    <label>Giới Tính</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input type="radio" name="GioiTinh" value="1" data-text="Nam" style="width:auto;" @(Model.gioiTinh == 1 ? "data-mac-dinh" : null) />
                                        <input type="radio" name="GioiTinh" value="2" data-text="Nữ" style="width:auto;" @(Model.gioiTinh == 2 ? "data-mac-dinh" : null) />
                                        <input type="radio" name="GioiTinh" value="0" data-text="Không xác định" @(Model.gioiTinh == 0 ? "data-mac-dinh" : null) style="width:auto;" />
                                    </article>
                                </section>
                            </li>
                            <li>
                                <section class="tieu-de">
                                    <label>(*) Họ và tên</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input type="text" placeholder="Họ" name="Ho" data-validate="bat-buoc" style="width:calc(100%/3 - 19px);" data-mac-dinh="@Model.ho" />
                                        <input type="text" placeholder="Tên lót" name="TenLot" style="width:calc(100%/3 - 19px);" data-mac-dinh="@Model.tenLot" />
                                        <input type="text" placeholder="Tên" name="Ten" data-validate="bat-buoc" style="width:calc(100%/3 - 19px);" data-mac-dinh="@Model.ten" />
                                    </article>
                                </section>
                            </li>
                            <li>
                                <section class="tieu-de">
                                    <label>(*) Ngày sinh:</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input data-input-type="ngay" name="NgaySinh" data-validate="bat-buoc" data-mac-dinh="@(Model.ngaySinh != null ? Model.ngaySinh.Value.ToString("d/M/yyyy") : null)" />
                                    </article>
                                </section>
                            </li>
                            <li>
                                <section class="tieu-de">
                                    <label>Địa chỉ:</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input type="text" name="DiaChi" data-mac-dinh="@Model.diaChi" />
                                    </article>
                                </section>
                            </li>
                            <li>
                                <section class="tieu-de">
                                    <label>Số điện thoại:</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input type="text" name="SoDienThoai" data-validate="so-nguyen" data-mac-dinh="@Model.soDienThoai" />
                                    </article>
                                </section>
                            </li>
                            <li>
                                <section class="tieu-de">
                                    <label>Hình đại diện</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input type="file" name="MaHinhDaiDien" data-ma-mac-dinh="@(Model.hinhDaiDien != null ? Model.hinhDaiDien.ma : null)" data-loai-mac-dinh="@(Model.hinhDaiDien != null ? "NguoiDung_HinhDaiDien" : null)" data-dung-luong="5242880" data-duoi="png jpg jpge" />
                                    </article>
                                </section>
                            </li>
                        </ul>
                        <section class="khung-button">
                            <button type="submit" class="chap-nhan">
                                Cập nhật
                            </button>
                            <button type="button" data-chuc-nang="reset" class="can-than">
                                Làm lại
                            </button>
                        </section>
                    </article>
                </form>
            </article>
        </section>
    </article>
}
else
{
    <p align="center">Người dùng không tồn tại</p>
}
