@model DTOLayer.NguoiDungDTO
@{
    ViewData["Title"] = "Người Dùng";
    Layout = "~/Views/LCT/Khung.cshtml";
    
    if (Model != null)
    {
        List<string> chucNang = new List<string>();
        
        chucNang.Add("Cập nhật thông tin cá nhân");
        chucNang.Add("href='/NguoiDung/Sua/" + Model.ma + "'");

        chucNang.Add("Đổi mật khẩu");
        chucNang.Add("href='/NguoiDung/DoiMatKhau/'");

        ViewData["ChucNang"] = chucNang;
    }
    
}
@section Styles {
    <link rel="stylesheet" href="/Index.css/NguoiDung/" />
    <link rel="stylesheet" href="/Xem.css/NguoiDung/" />
}
@section Scripts {
    <script src="/Xem.js/NguoiDung/"></script>
}

<!--#region Thông tin cơ bản -->

<section class="hop hop-2-vien">    
    <article class="noi-dung">
        <section>
            <article class="khung-tren">
                <div class="hinh-dai-dien">
                    @if (Model.hinhDaiDien != null) 
                    {
                        <img src="/LayTapTin/NguoiDung_HinhDaiDien/@Model.hinhDaiDien.ma" />
                    }                   
                </div>
                <div class="thong-tin-nguoi-dung">
                    <div class="ten-nguoi-dung">@(Model.ho + " " + Model.tenLot + " " + Model.ten)</div>
                    <div class="loai-nguoi-dung">Người dùng</div>
                </div>
            </article>
        </section>
    </article>
</section>

<section class="hop hop-1-vien">
    <section class="tieu-de">Thông tin cơ bản</section>
    <section class="noi-dung khung-duoi">
        <div class="dong-noi-dung">
            <div class="tieu-de">Tên đăng nhập</div>
            <div class="noi-dung" data-change="TenDangNhap">@Model.tenTaiKhoan</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Mật khẩu</div>
            <div class="noi-dung" data-change="MatKhau">**********</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Email</div>
            <div class="noi-dung" data-change="Email">@Model.email</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Giới tính</div>
            <div class="noi-dung" data-change="Email">@Helpers.NguoiDungHelper.chuyenGioiTinh(Model.gioiTinh)</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Ngày sinh</div>
            <div class="noi-dung" data-change="NgaySinh">@(Model.ngaySinh.HasValue ? @Model.ngaySinh.Value.ToString("dd/M/yyyy") : null)</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Địa chỉ</div>
            <div class="noi-dung" data-change="DiaChi">@Model.diaChi</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Số điện thoại</div>
            <div class="noi-dung" data-change="SoDienThoai">@Model.soDienThoai</div>
        </div>
    </section>
</section>

<!--#endregion-->

<!--#region Thông tin khóa học -->

<section class="hop hop-1-vien">
    <section class="tieu-de">Thông tin khóa học</section>
    <section id="khung_chon_hien_thi" class="khung-chon-hien-thi">
        <ul>
            <li class="nhiem-vu-moi active">
                <a class="clicked" data-chuc-nang="hien-thi" data-value="nhiemvumoi">
                    <i></i>
                    <span>Nhiệm vụ mới</span>
                </a>
            </li>
            <li class="bai-giang-moi">
                <a data-chuc-nang="hien-thi" data-value="baigiangmoi">
                    <i></i>
                    <span>Bài giảng mới</span>
                </a>
            </li>
            <li class="bai-tap-moi">
                <a data-chuc-nang="hien-thi" data-value="baitapmoi">
                    <i></i>
                    <span>Bài tập mới</span>
                </a>
            </li>
        </ul>
    </section>
    
    <section id="khung_hien_thi" class="khung-hien-thi">
        <div id="nhiemvumoi" class="noi-dung active">           
            Nhiệm vụ mới <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div id="baigiangmoi" class="noi-dung">
            Bài giảng mới <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div id="baitapmoi" class="noi-dung">
            Bài tập mới <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </section>
</section>

<!--#endregion-->

<!--#region Thông tin hỏi đáp-->

<article class="hop hop-1-vien">
    <section class="tieu-de">Thông tin hỏi đáp</section>
    <section class="noi-dung">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </section>
</article>

<!--#endregion-->