@using Helpers
@using LCTMoodle.LCTView
@using DTOLayer;
@using BUSLayer;
@model DTOLayer.NguoiDungDTO
@{
    ViewData["Title"] = "Người Dùng";    
    Layout = "~/Views/LCT/Khung.cshtml";
    ViewData["DieuHuong"] = new List<string>()
    {
        "Người Dùng", "/NguoiDung/Xem/" + Session["NguoiDung"],
    };

    int? maNguoiDung = Session["NguoiDung"] as int?;
    bool coQuyenCapNhatThongTin, coQuyenDoiMatKhau, coQuyenXemHoiDap, coQuyenXemKhoaHoc, coQuyenQuanLyNguoiDung;
    string[] dsQuyen;
    
    if (maNguoiDung.HasValue)
    {
        coQuyenCapNhatThongTin = maNguoiDung == Model.ma;
        coQuyenDoiMatKhau = maNguoiDung == Model.ma;
        coQuyenXemHoiDap = maNguoiDung == Model.ma;
        coQuyenXemKhoaHoc = maNguoiDung == Model.ma;
        
        dsQuyen = QuyenView.layDSQuyen("ND", 0, maNguoiDung);
    }
    else
    {
        dsQuyen = null;
        
        coQuyenDoiMatKhau = coQuyenCapNhatThongTin = false;
        coQuyenXemKhoaHoc = coQuyenXemHoiDap = false;
    }

    coQuyenQuanLyNguoiDung = QuyenHelper.co(dsQuyen, "QLNguoiDung");
    
    if (coQuyenCapNhatThongTin || coQuyenDoiMatKhau)
    {
        List<string> chucNang = new List<string>();
        if (coQuyenCapNhatThongTin)
        {
            chucNang.Add("Cập nhật thông tin cá nhân");
            chucNang.Add("href='/NguoiDung/Sua/" + Model.ma + "'");
        }
        if (coQuyenDoiMatKhau)
        {
            chucNang.Add("Đổi mật khẩu");
            chucNang.Add("href='/NguoiDung/DoiMatKhau/'");
        }
        if (coQuyenQuanLyNguoiDung)
        {
            chucNang.Add("Quản lý người dùng");
            chucNang.Add("href='/NguoiDung/QuanLyNguoiDung/'");
            chucNang.Add("Danh sách người dùng bị chặn");
            chucNang.Add("href='/NguoiDung/DanhSachNguoiDungBiChan/'");
        }
        
        chucNang.Add("Xem Tin Nhắn");
        chucNang.Add("href='/NguoiDung/TinNhan/" + maNguoiDung.Value + "'");
        
        ViewData["ChucNang"] = chucNang;     
    }
}
@section Styles {
    <link rel="stylesheet" href="/Index.css/NguoiDung/" />
    <link rel="stylesheet" href="/Xem.css/NguoiDung/" />
}
@section Scripts {
    <script src="/Xem.js/NguoiDung/"></script>
}

<!--#region Thông tin cơ bản -->

<section class="hop hop-2-vien">    
    <article class="noi-dung">
        <section>
            <article class="khung-tren">
                <div class="hinh-dai-dien">                    
                    @NguoiDungView.hinhDaiDien(Model)
                </div>
                <div class="thong-tin-nguoi-dung">
                    <div class="ten-nguoi-dung">@(Model.ho + " " + Model.tenLot + " " + Model.ten)</div>
                    <div class="loai-nguoi-dung">Người dùng</div>
                </div>
            </article>
        </section>
    </article>
</section>

<section class="hop hop-1-vien">
    <section class="tieu-de">Thông tin cơ bản</section>
    <section class="noi-dung khung-duoi">
        <div class="dong-noi-dung">
            <div class="tieu-de">Tên đăng nhập</div>
            <div class="noi-dung" data-change="TenDangNhap">@Model.tenTaiKhoan</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Mật khẩu</div>
            <div class="noi-dung" data-change="MatKhau">**********</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Email</div>
            <div class="noi-dung" data-change="Email">@Model.email</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Giới tính</div>
            <div class="noi-dung" data-change="Email">@(Model.gioiTinh != null ? Helpers.NguoiDungHelper.chuyenGioiTinh(Model.gioiTinh) : "Không xác định")</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Ngày sinh</div>
            <div class="noi-dung" data-change="NgaySinh">@(Model.ngaySinh.HasValue ? @Model.ngaySinh.Value.ToString("dd/M/yyyy") : null)</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Địa chỉ</div>
            <div class="noi-dung" data-change="DiaChi">@Model.diaChi</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Số điện thoại</div>
            <div class="noi-dung" data-change="SoDienThoai">@Model.soDienThoai</div>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Điểm hỏi đáp</div>
            <div class="noi-dung">@Model.diemHoiDap</div>
        </div>
    </section>
</section>

<!--#endregion-->

<!--#region Chiêu -->

    <!--#region Thông tin khóa học -->

    @if (coQuyenXemKhoaHoc)
    {
        var ketQua = BUSLayer.BaiVietBaiTapBUS.layDanhSachCanHoanThanh(maNguoiDung.Value);
        if (ketQua.trangThai == 0)
        {
            var dsBaiTap = ketQua.ketQua as List<DTOLayer.BaiVietBaiTapDTO>;
            
            <article class="hop hop-1-vien">
                <section class="tieu-de">
                    Bài tập cần hoàn thành
                </section>
                <section class="noi-dung khung-bt-can-hoan-thanh" id="bt_can_hoan_thanh">
                    <ul>                        
                        @foreach (var baiTap in dsBaiTap)
                        {
                            <li>
                                <a class="tieu-de" href="/KhoaHoc/@baiTap.khoaHoc.ma.Value/?hienthi=baitap&ma=@baiTap.ma">@baiTap.tieuDe</a>
                                <section class="thoi-diem">
                                    <span class="tu">@baiTap.thoiDiemTao.Value.ToString("d/M H:mm")</span>
                                    <span class="den">@baiTap.thoiDiemHetHan.Value.ToString("d/M H:mm")</span>
                                </section>
                                <section class="khung-thoi-gian" title="@LCTMoodle.LCTView.View.HienThiThoiGian(baiTap.thoiDiemHetHan)">
                                    <section class="thoi-gian">
                                        <section class="khung-tong">
                                            @{
                                                var soCotGio = ((baiTap.thoiDiemHetHan.Value - baiTap.thoiDiemTao.Value).TotalHours + 11) / 12;

                                                for (var i = soCotGio; i > 0; i--)
                                                {
                                                    <i></i>
                                                }
                                            }
                                        </section>
                                        <section style="width: @((DateTime.Now - baiTap.thoiDiemTao.Value).Ticks * 100 / (baiTap.thoiDiemHetHan.Value - baiTap.thoiDiemTao.Value).Ticks)%" class="thoi-gian-da-qua"></section>
                                    </section>
                                </section>
                            </li>
                        }
                    </ul>
                </section>
            </article>
        }
            
        <section class="hop hop-1-vien">
            <section class="tieu-de">Thông tin khóa học</section>
            <section id="khung_chon_hien_thi" class="khung-chon-hien-thi">
                <ul>
                    <li class="nhiem-vu-moi active">
                        <a class="clicked" data-chuc-nang="hien-thi" data-value="nhiemvumoi">
                            <i></i>
                            <span>Nhiệm vụ mới</span>
                        </a>
                    </li>
                    <li class="bai-giang-moi">
                        <a data-chuc-nang="hien-thi" data-value="baigiangmoi">
                            <i></i>
                            <span>Bài giảng mới</span>
                        </a>
                    </li>
                    <li class="bai-tap-moi">
                        <a data-chuc-nang="hien-thi" data-value="baitapmoi">
                            <i></i>
                            <span>Bài tập mới</span>
                        </a>
                    </li>
                </ul>
            </section>
    
            <section id="khung_hien_thi" class="khung-hien-thi">

                <div id="nhiemvumoi" class="noi-dung active">           
                    <p class="empty">Chưa có nhiệm vụ mới</p>       
                </div>

                <div id="baigiangmoi" class="noi-dung">
                    <p class="empty">Chưa có bài giảng mới</p>
                </div>

                <div id="baitapmoi" class="noi-dung">
                    <p class="empty">Chưa có bài tập mới</p>
                </div>

            </section>
        </section>
    }

    <!--#endregion-->

<!--#endregion-->

<!--#region Thông tin hỏi đáp-->

@if (coQuyenXemHoiDap)
{
    List<HoatDongDTO> dsLichSuCauHoi = ViewData["DSLichSuCauHoi"] as List<HoatDongDTO>;
    
    <article class="hop">
        <section class="tieu-de">Thông tin hỏi đáp</section>
        <section class="noi-dung">
            <section class="khung-tab">
                <ul>
                    <li class="active" data-hien-thi-tab="CH">
                        <i></i>
                        <span>Câu hỏi</span>
                    </li>
                    <li data-hien-thi-tab="TL">
                        <i></i>
                        <span>Trả lời</span>
                    </li>
                </ul>
            </section>
            <section class="noi-dung-tab" id="noi_dung_tab">
                @Html.Partial("~/Views/HoiDap/_LichSuCauHoi.cshtml", dsLichSuCauHoi, new ViewDataDictionary())
            </section>
        </section>
    </article>
}

<!--#endregion-->