@using DTOLayer
@{                                 
    bool CotTrai = ViewData["CotTrai"] == null ? true : (bool)ViewData["CotTrai"];
    bool CotPhai = ViewData["CotPhai"] == null ? true : (bool)ViewData["CotPhai"];
    
    KetQua ketQua;
    NguoiDungDTO nguoiDung = null;
    
    if (Session["NguoiDung"] != null)
    {
        ketQua = BUSLayer.NguoiDungBUS.layTheoMa((int)Session["NguoiDung"]);
        if (ketQua.trangThai == 0)
        {
            nguoiDung = ketQua.ketQua as NguoiDungDTO;
        }
    }

    List<CauHoiDTO> dsCauHoi = null;
    ketQua = BUSLayer.CauHoiBUS.layDanhSach(5, new LienKet() { 
        "NguoiTao",
        "HinhDaiDien"
    }, "MoiNhat");
    if (ketQua.trangThai == 0)
    {
        dsCauHoi = ketQua.ketQua as List<CauHoiDTO>;
    }
    
}
<!DOCTYPE html>

<html>
<head>
    <link href="/mini_logo.png/LCT/" rel="icon" />
    <title>@(ViewData["TieuDe"] != null ? ViewData["TieuDe"] + " - " : "")LCTMoodle</title>

    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />

    <link href="/Khung.css/LCT" rel="stylesheet" />
    <link href="/Form.css/LCT" rel="stylesheet" />
    <link href="/bootstrap.css/LCT" rel="stylesheet" />
    <link href="/filled-icons.css/LCT" rel="stylesheet" />
    <link href="/stroke-icons.css/LCT" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body class="tai">
    <article data-doi-tuong="bieu-tuong-tai_page" class="bieu-tuong-tai-lct bieu-tuong-tai-lct_page">
        <i></i><i></i><i></i><i></i><i></i><i></i>
    </article>
    <article class="khung">
        <!-- Header -->
        <header>
            <section class="logo">
                <a href="~/"></a>
            </section>
            <section class="top-header">
                <article class="hop-nguoi-dung">
                @if (nguoiDung == null)
                {                    
                    <ul class="chua-dang-nhap">
                        <li><a data-chuc-nang="dang-nhap">Đăng nhập</a></li>
                        <li><a href="/NguoiDung/DangKy">Đăng ký</a></li>
                    </ul>
                }
                else
                {
                        
                    <ul class="da-dang-nhap">
                        <li><a href="#"><i class="pe-7s-chat"></i></a></li>
                        <li><a href="#"><i class="pe-7s-global"></i></a></li>
                        <li>
                            <a href="javascript:void(0)" data-mo-doi-tuong="HopDieuKhien">
                                @if (nguoiDung.hinhDaiDien != null)
                                {
                                    <img src="/LayTapTin/NguoiDung_HinhDaiDien/@nguoiDung.hinhDaiDien.ma" />    
                                }
                                else
                                {
                                    <img src="/HinhDaiDienMacDinh.png/NguoiDung" />    
                                }
                                <span>@nguoiDung.tenTaiKhoan</span>
                            </a>
                            <div class="hop-dieu-khien" data-doi-tuong="HopDieuKhien">
                                <ul>
                                    <li><a href="/NguoiDung/Xem/@Session["NguoiDung"]"><i class="pe-7s-user"></i><span>Thông tin cá nhân</span></a></li>
                                    <li><a href="#"><i class="pe-7s-config"></i><span>Cài đặt</span></a></li>
                                    <li><a href="/NguoiDung/xuLyDangXuat"><i class="pe-7s-power"></i><span>Thoát</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                }
                </article>
            </section>
            <section class="buffer-top-header"></section>
            <section class="bottom-header">
                <nav>
                    <ul>
                        <li>
                            <a href="/KhoaHoc/DanhSach">
                                <i class="pe-7s-study"></i>
                                <u></u>
                                Khóa học
                            </a>
                        </li>
                        <li>
                            <a href="/HoiDap/">
                                <i class="pe-7s-help1"></i>
                                <u></u>
                                Hỏi đáp
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </header>

        <!-- Thanh điều hướng -->
        <nav class="thanh-dieu-huong">
            <ul>
                <li>
                    <a href="~/">
                        Trang chủ
                    </a>
                </li>
                @if (ViewData.ContainsKey("DieuHuong"))
                {
                    List<string> danhSach = ViewData["DieuHuong"] as List<string>;
                    int soLuong = danhSach.Count;
                    
                    for (int i = 0; i < soLuong; i += 2)
                    {
                        <li>
                            <a href="@danhSach[i + 1]">
                                @danhSach[i]
                            </a>                            
                        </li>   
                    }
                }
            </ul>
        </nav>

        <!-- Main -->
        <main>
            <!-- Cột trái -->
            @if (nguoiDung != null && CotTrai)
            {
                <aside class="cot-trai">
                    <article class="menu">
                        @if (Session["NguoiDung"] != null)
                        {
                            <a href="/NguoiDung/Xem/@nguoiDung.ma">
                                <section class="khung-thong-tin">
                                    <div class="hinh-dai-dien">
                                        @if (nguoiDung.hinhDaiDien != null)
                                        {
                                            <img src="/LayTapTin/NguoiDung_HinhDaiDien/@nguoiDung.hinhDaiDien.ma" />
                                        }
                                        else
                                        {
                                            <img src="/HinhDaiDienMacDinh.png/NguoiDung" />
                                        }
                                    </div>
                                    <div class="thong-tin-nguoi-dung">
                                        <div class="ten-nguoi-dung">@nguoiDung.ho @nguoiDung.tenLot @nguoiDung.ten</div>
                                    </div>
                                </section>
                            </a>
                        }
                        <nav>
                            <ul>
                                @{
                                    ketQua = BUSLayer.KhoaHocBUS.layTheoMaNguoiDungVaTrangThai(nguoiDung.ma.Value, 0);
                                    if (ketQua.trangThai == 0)
                                    {
                                        <li>
                                            <a href="/KhoaHoc/DanhSachCuaToi">
                                                Khóa học của tôi
                                            </a>
                                            <ul>
                                                @foreach (var khoaHoc in ketQua.ketQua as List<DTOLayer.KhoaHocDTO>)
                                                {
                                                    <li>
                                                        <a href="/KhoaHoc/@khoaHoc.ma">
                                                            @khoaHoc.ten
                                                        </a>
                                                    </li>   
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </article>
                </aside>   
            }

            <!-- Cột giữa -->
            <section class="cot-giua">
                @RenderBody()
            </section>

            <!-- Cột phải -->
            @if (CotPhai)
            {
                <aside class="cot-phai">
                    <article class="khung-chuc-nang">
                        @if (ViewData.ContainsKey("ChucNang") && Session["NguoiDung"] != null)
                        {
                            <article class="hop-chuc-nang">
                                <section class="ten-chuc-nang">
                                    Chức năng
                                </section>
                                <section class="chuc-nang">
                                    <ul id="danh_sach_chuc_nang_lct" class="danh-sach">
                                        @{
                                            List<string> danhSach = ViewData["ChucNang"] as List<string>;
                                            int soLuong = danhSach.Count;
                                        }
                                        @for (int i = 0; i < soLuong; i += 2)
                                        {
                                            <li>
                                                <a @Html.Raw(danhSach[i + 1])>@danhSach[i]</a>
                                            </li>   
                                        }
                                    </ul>
                                </section>
                            </article>   
                        }
                        
                        <article class="hop-cau-hoi">
                            <section class="ten-chuc-nang">
                                Câu hỏi mới trong ngày
                            </section>
                            <section class="noi-dung-hop-cau-hoi">
                                <ul>@{
                                    if (dsCauHoi != null)
                                    {
                                        foreach(var cauHoi in dsCauHoi)
                                        {
                                            <li>
                                                <div class="tieu-de">
                                                    <a href="/HoiDap/@cauHoi.ma" title="@cauHoi.tieuDe">@cauHoi.tieuDe</a>
                                                </div>
                                                <div class="thong-tin">
                                                    <img src="/LayTapTin/NguoiDung_HinhDaiDien/@cauHoi.nguoiTao.hinhDaiDien.ma" />
                                                    <span>@cauHoi.nguoiTao.tenTaiKhoan - @cauHoi.thoiDiemTao.Value.ToString("hh:mm tt")</span>
                                                </div>
                                            </li>
                                        }
                                    }
                                    
                                }</ul>
                                <section>Chưa có câu hỏi mới</section>                             
                            </section>
                        </article>

                        @*<article class="chuc-nang">
                            <section class="ten-chuc-nang"></section>
                            <section class="chuc-nang"></section>
                        </article>*@
                    </article>
                </aside>                
            }
        </main>

        <!-- Footer -->
        <footer>
            Copyright © 2015 - LCTMoodle - Diễn đàn học tập của mọi người
        </footer>
    </article>
    <script src="/jquery.js/LCT"></script>
    <script src="/Khung.js/LCT"></script>
    <script src="/Form.js/LCT"></script>
    <script src="/Plugin/ckeditor/ckeditor.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
