<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewData["TieuDe"] != null ? ViewData["TieuDe"] : "") - LCTMoodle</title>

    <link href="/Content/styles/LCT/Khung.css" rel="stylesheet" />
    <link href="/Content/styles/LCT/Form.css" rel="stylesheet" />
    <link href="/Content/styles/LCT/bootstrap.css" rel="stylesheet" />
    <link href="/Content/styles/LCT/icons.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <!-- Header -->
    <header>
        <section class="logo">
            <a href="/TrangChu/Index" class="site-image"></a>
        </section>
        <section class="top-header">
            <article class="hop-nguoi-dung">
                <ul>
                    <li><a href="/NguoiDung/DangNhap">Đăng nhập</a></li>
                    <li><a href="#">Đăng ký</a></li>
                </ul>
            </article>
        </section>
        <section class="buffer-top-header"></section>
        <section class="bottom-header">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <i class="pe-7s-study"></i>
                            <u></u>
                            Khóa học của tôi
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class ="pe-7s-help1"></i>
                            <u></u>
                            Hỏi đáp
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>

    <!-- Thanh điều hướng -->
    <nav class="thanh-dieu-huong">
        <ul>
            <li>
                <a href="#">
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="#">
                    @ViewData["TieuDe"]
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <!-- Cột trái -->
        <aside class="cot-trai">
            <article class="menu">
                <section class="khung-thong-tin"></section>
                <nav>
                    <ul>
                        <li>
                            <a>
                                <u></u>
                                Khóa học
                            </a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <u></u>
                                        Tên khóa học
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <u></u>
                                        Tên khóa học
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>
                                <u></u>
                                Khóa học của tôi
                            </a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <u></u>
                                        Tên khóa học
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <u></u>
                                        Tên khóa học
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </article>
        </aside>

        <!-- Cột giữa -->
        <section class="cot-giua">
            @RenderBody()
        </section>

        <!-- Cột phải -->
        <aside class="cot-phai">
            <article class="khung-chuc-nang">
                <article class="hop-chuc-nang">
                    <section class="ten-chuc-nang">
                        Tiêu đề
                    </section>
                    <section class="chuc-nang">
                        <div>

                        </div>
                    </section>
                </article>
            </article>
        </aside>        
    </main>

    <footer>
        Copyright © 2015 - LCTMoodle - Diễn đàn học tập của mọi người
    </footer>

    @RenderSection("Scripts", false)
</body>
</html>
