@using Helpers
@using LCTMoodle.LCTView
@model DTOLayer.BaiVietBaiTapDTO
@{
    var maNguoiDung = Session["NguoiDung"] as int?;
    var maKhoaHoc = (int)ViewData["MaKhoaHoc"];

    string[] dsQuyen;
    bool coQuyenQLCotDiem;

    if (maNguoiDung.HasValue)
    {
        if (ViewData.ContainsKey("DSQuyen"))
        {
            dsQuyen = ViewData["DSQuyen"] as string[];
        }
        else
        {
            dsQuyen = QuyenView.layDSQuyen("KH", maKhoaHoc, maNguoiDung);
        }

        coQuyenQLCotDiem = QuyenHelper.co(dsQuyen, "QLCotDiem");
    }
    else
    {
        dsQuyen = null;
        coQuyenQLCotDiem = false;
    }
}

<form class="noi-dung lct-form" id="tao_bai_viet_form" @(Model != null ? "data-cap-nhat" : null) data-an-rang-buoc>
    @if (Model == null)
    {
        <input type="hidden" name="MaKhoaHoc" value="@ViewData["MaKhoaHoc"]" />
    }
    else
    {
        <input type="hidden" name="Ma" value="@Model.ma" />
    }
    <article>
        <ul>
            <li>
                <section class="noi-dung">
                    <article class="input">
                        <input data-validate="bat-buoc" data-chuc-nang="bat-dau-tao-bai-viet" type="text" name="TieuDe" placeholder="Tiêu đề" data-mac-dinh="@(Model != null ? Model.tieuDe : null)" />
                    </article>
                </section>
            </li>
            <li data-an>
                <section class="noi-dung">
                    <section class="input">
                        <textarea data-validate="bat-buoc" name="NoiDung" data-input-type="editor" placeholder="Nội dung" data-mac-dinh="@(Model != null ? Model.noiDung : null)"></textarea>
                    </section>
                </section>
            </li>
            <li data-an>
                <section class="noi-dung">
                    <article class="input">
                        <input type="file" name="MaTapTin"
                               @if (Model != null && Model.tapTin != null) {   
                                   @: data-ma-mac-dinh="@Model.tapTin.ma" data-loai-mac-dinh="BaiVietDienDan_TapTin"
                                } />
                    </article>
                </section>
            </li>
            <li data-an>
                <section class="tieu-de">
                    <label>
                        Loại bài tập @if (!coQuyenQLCotDiem)
                        { 
                            @:- Để sử dụng chức năng tạo bài tập có điểm, bạn <b>cần có quyền quản lý cột điểm</b>
                        }
                    </label>
                </section>
                <section class="noi-dung">
                    <article class="input">
                        <input style="width: auto;" data-chuc-nang="tat-mo" data-tat="co-diem" type="radio" name="Loai" value="0" data-text="Tham khảo" data-mac-dinh />
                        <input @(!coQuyenQLCotDiem ? "disabled" : null) style="width: auto;" data-chuc-nang="tat-mo" data-mo="co-diem" data-tat="diem" type="radio" name="Loai" value="1" data-text="Cộng điểm" />
                        <input @(!coQuyenQLCotDiem ? "disabled" : null) style="width: auto;" data-chuc-nang="tat-mo" data-mo="co-diem diem" type="radio" name="Loai" value="2" data-text="Lấy điểm" />
                    </article>
                </section>
            </li>
            <li data-an data-doi-tuong="co-diem">
                <section class="tieu-de">
                    <label>Thông tin cột điểm</label>
                </section>
                <section class="noi-dung">
                    <article class="input">
                        <input type="text" name="CD_Ten" placeholder="Tên cột điểm" />
                        <input type="text" name="CD_HeSo" data-validate="so-nguyen" placeholder="Hệ số" data-doi-tuong="diem" />
                    </article>
                </section>
            </li>
            <li data-an data-doi-tuong="co-diem">
                <section class="tieu-de">
                    <label>Thời hạn nộp</label>
                </section>
                <section class="noi-dung">
                    <article class="input">
                        <input data-chuc-nang="tat-mo" data-mo="thoi-han" type="checkbox" name="CoThoiDiemHetHan" data-text="Bài tập có thời hạn" />
                        <input data-doi-tuong="thoi-han" data-validate="bat-buoc" data-input-type="ngay-gio" name="ThoiDiemHetHan" data-gio-placeholder="Chọn giờ" data-ngay-placeholder="Chọn ngày"
                               @(Model != null && Model.thoiDiemHetHan.HasValue ? "data-lich-mac-dinh='" + Model.thoiDiemHetHan.Value.ToString("d/M/yyyy") + "' data-thoi-gian-mac-dinh='" + Model.thoiDiemHetHan.Value.ToString("H:mm") + "'" : null) />
                    </article>
                </section>
            </li>
        </ul>
        <section data-an class="khung-button">
            <button type="submit" class="chap-nhan">
                @(Model == null ? "Đăng" : "Cập nhật")
            </button>
        </section>
    </article>
</form>