@model DTOLayer.BaiVietBaiTapDTO

<li data-doi-tuong="muc-bai-viet" class="muc-bai-viet" data-ma="@Model.ma">
    <section class="khung-bai-viet">
        <section class="khung-thong-tin">
            <section class="trai">
                <article class="hinh-dai-dien">
                    <img src="/boy.png/" />
                </article>
            </section>
            <section class="phai">
                <section class="nguoi-dung">
                    <a href="#">@(Model.nguoiTao.ho + " " + Model.nguoiTao.ten)</a>
                </section>
                <section class="bai-viet">
                    <section class="thoi-gian">                        
                        @Model.thoiDiemTao.Value.ToString("H:mm d/M/yyyy")
                    </section>
                </section>
            </section>
        </section>
        <section class="khung-noi-dung">
            <h2 class="tieu-de">
                @Model.tieuDe
            </h2>
            @if (Model.thoiDiemHetHan.HasValue)
            {
                <section class="thoi-han">
                    Thời hạn: <span>@Model.thoiDiemHetHan.Value.ToString("H:mm d/M/yyyy")</span>
                </section>   
            }
            <section class="noi-dung noi-dung-ckeditor">
                @Html.Raw(Model.noiDung)
            </section>            
            @if (@Model.tapTin != null)
            {
                <section class="tap-tin">
                    <a href="/LayTapTin/BaiVietBaiTap_TapTin/@Model.tapTin.ma">
                        <img src="/LayTapTin/BaiVietBaiTap_TapTin/@Model.tapTin.ma" />
                        <span>@Model.tapTin.ten</span>
                    </a>
                </section>
            }
        </section>
        <section class="khung-chuc-nang-lct" style="top: 10px; right: 10px;">
            <ul data-doi-tuong="cnbt-@Model.ma">
                <li>
                    <a data-chuc-nang="sua-bai-viet">Sửa bài viết</a>
                </li>
                <li>
                    <a data-chuc-nang="xoa-bai-viet">Xóa bài viết</a>
                </li>
            </ul>
            <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cnbt-@Model.ma">
                <i class="pe-7f-config"></i>
            </button>
        </section>
    </section>
    <section data-doi-tuong="khung-nop-bai" class="khung-nop-bai">
        @Html.Partial("~/Views/BaiTapNop/_Khung.cshtml", Model.danhSachBaiTapNop, new ViewDataDictionary()
        {
             { "MaBaiVietBaiTap", Model.ma }
        })
    </section>
</li>