@model List<DTOLayer.BaiTapNopDTO>
@using LCTMoodle.LCTHtml

<article class="hop hop-1-vien">
    <section class="tieu-de">
        Danh sách bài đã nộp
    </section>
    <section class="noi-dung khung-danh-sach-nop">
        <section class="so-luong">
            <span>
                @if (Model == null)
                {
                    @:Chưa có ai nộp
                }
                else 
                {
                    @:Đã có @Model.Count người nộp bài
                }
            </span>
        </section>
        <section class="khung-danh-sach">
            <ul>
                @if (Model != null)
                {
                    foreach (var baiNop in Model)
                    {
                        <li>
                            <section class="trai">
                                <article class="hinh-dai-dien">
                                    <img src="/boy.png/" />
                                </article>
                            </section>
                            <section class="phai">
                                <section class="thong-tin">
                                    <a class="nguoi-nop" href="#">
                                        @NguoiDungHtml.link(baiNop.nguoiTao)
                                    </a>
                                    <span class="thoi-gian">
                                        @baiNop.thoiDiemTao.Value.ToString("H:mm d/M/yyyy")
                                    </span>
                                </section>
                                <section class="bai-nop">
                                    @if (baiNop.tapTin == null)
                                    {
                                        <a href="@baiNop.duongDan">
                                            <img src="#" />
                                            <span>@baiNop.duongDan</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/LayTapTin/BaiTapNop_TapTin/@baiNop.tapTin.ma">
                                            <img src="/LayTapTin/BaiTapNop_TapTin/@baiNop.tapTin.ma" />
                                            <span>@baiNop.tapTin.ten</span>
                                        </a>
                                    }
                                </section>
                            </section>
                        </li>
                    }
                }
            </ul>
        </section>
    </section>
</article>
