@model DTOLayer.BinhLuanBaiVietDienDanDTO
@using LCTMoodle.LCTView

@{
    var maNguoiDung = Session["NguoiDung"] as int?;
    bool coQuyenQLNoiDung, coQuyenQLDiem;

    if (maNguoiDung.HasValue)
    {
        coQuyenQLNoiDung = Model.nguoiTao.ma == maNguoiDung || (ViewData.ContainsKey("CoQuyenQLNoiDung") && (bool)ViewData["CoQuyenQLNoiDung"]);
        coQuyenQLDiem = ViewData.ContainsKey("CoQuyenQLDiem") && (bool)ViewData["CoQuyenQLDiem"];
    }
    else
    {
        coQuyenQLNoiDung = coQuyenQLDiem = false;
    }
}

<li data-doi-tuong="muc-binh-luan" class="muc-binh-luan" data-ma="@Model.ma" data-diem="@Model.diem">
    <section class="trai">
        <article class="hinh-dai-dien">
            @NguoiDungView.hinhDaiDien(Model.nguoiTao)
        </article>
    </section>
    <section class="phai">
        <section class="nguoi-dung">
            <a href="#">@NguoiDungView.link(Model.nguoiTao)</a>
        </section>
        <section class="noi-dung">
            @Model.noiDung
        </section>
        @if (Model.tapTin != null)
        {
            <section class="tap-tin">
                <a @if (Helpers.TapTinHelper.coHoTroXem(Model.tapTin.duoi)) 
                {     
                    @: data-chuc-nang="mo-popup-tap-tin"
                } href="/LayTapTin/BinhLuanBaiVietDienDan_TapTin/@Model.tapTin.ma">
                    <img src="/LayHinh/BinhLuanBaiVietDienDan_TapTin/@Model.tapTin.ma" />
                    <span>@Model.tapTin.ten</span>
                </a>

            </section>
        }
        <section class="thong-tin">
            <span data-doi-tuong="diem-binh-luan" class="diem">@if (Model.diem.HasValue && Model.diem.Value != 0)
            { @Model.diem.Value }</span>
            <span class="thoi-gian">
                @Model.thoiDiemTao.Value.ToString("H:mm d/M/yyyy")
            </span>
        </section>
    </section>
    @if (coQuyenQLNoiDung || coQuyenQLDiem)
    {
        <section class="khung-chuc-nang-lct ben-trai" style="top: 0; right: 0;">
            <ul data-doi-tuong="cnbl-@Model.ma">
                @if (coQuyenQLDiem)
                {
                    <li>
                        <a data-chuc-nang="cho-diem-binh-luan">Cho điểm bình luận</a>
                    </li>
                }
                @if (coQuyenQLNoiDung)
                {
                    <li>
                        <a data-chuc-nang="sua-binh-luan">Sửa bình luận</a>
                    </li>
                    <li>
                        <a data-chuc-nang="xoa-binh-luan">Xóa bình luận</a>
                    </li>
                }
            </ul>
            <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cnbl-@Model.ma">
                <i class="pe-7f-config"></i>
            </button>
        </section>
    }
</li>