@model DTOLayer.BinhLuanViewDTO

<li data-doi-tuong="muc-binh-luan" class="muc-binh-luan" data-loai-doi-tuong="@Model.loaiDoiTuong">
    <section class="trai">
        <article class="hinh-dai-dien">
            <img src="/boy.png/" />
        </article>
    </section>
    <section class="phai">
        <section class="nguoi-dung">
            <a href="#">@Model.nguoiTao.hoTen</a>
        </section>
        <section class="noi-dung">
            @Model.noiDung
        </section>        
        @if (@Model.tapTin != null)
        {
            <section class="tap-tin">
                <a href="/LayTapTin/BinhLuan_@(Model.loaiDoiTuong)_TapTin/@Model.tapTin.ma">
                    <img src="/LayTapTin/BinhLuan_@(Model.loaiDoiTuong)_TapTin/@Model.tapTin.ma" />
                    <span>@Model.tapTin.ten</span>
                </a>
            </section>
        }
        <section class="thong-tin">
            <span class="thoi-gian">                
                @Model.thoiDiemTao.Value.ToString("M/yyyy HH:mm")
            </span>
        </section>        
    </section>
    <section class="khung-chuc-nang-lct" style="top: 0; right: 0;">
        <ul data-doi-tuong="cnbl-@Model.ma">
            <li>
                <a data-chuc-nang="xoa-binh-luan" data-value="@Model.ma">Xóa bình luận</a>
            </li>
        </ul>
        <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cnbl-@Model.ma">
            <i class="pe-7f-config"></i>
        </button>
    </section>
</li>