@using Helpers
@model DTOLayer.ChuDeDTO
@{
    bool coChon = ViewData["CoChon"] != null && (bool)ViewData["CoChon"];
    bool coQuyenQL = !coChon && (bool)ViewData["CoQuyenQL"];
}

<li data-doi-tuong="muc" data-loai="ds-nut" data-ma="@Model.ma" title="Có @LCTHelper.layString(Model.duLieuThem, "SLChuDeCon", "0") chủ đề và @LCTHelper.layString(Model.duLieuThem, "SLKhoaHocCon", "0") khóa học thuộc chủ đề này">
    <section class="mo-ta">
        <img src="@(Model.hinhDaiDien != null ? "/LayHinh/chude_hinhdaidien/" + Model.hinhDaiDien.ma : "#")">
        <p>
            @Model.moTa
        </p>
    </section>
    <a data-doi-tuong="ten" data-chuc-nang="mo-nut" class="ten">@Model.ten</a>
    @if (!coChon)
    {
        <section class="khung-chuc-nang-lct" style="top: 2px; right: 2px;">
            <ul data-doi-tuong="cncd-@Model.ma">
                @if (coQuyenQL)
                {
                    <li>
                        <a href="/QuanLyQuyen/CD/@Model.ma">Quản lý quyền</a>
                    </li>
                }
                <li>
                    <a data-chuc-nang="chuyen">Chuyển vị trí</a>
                </li>
                <li>
                    <a data-chuc-nang="sua">Sửa thông tin</a>
                </li>
                <li>
                    <a data-chuc-nang="xoa">Xóa chủ đề</a>
                </li>
            </ul>
            <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cncd-@Model.ma">
                <i class="pe-7f-config"></i>
            </button>
        </section>
    }
    @if (coChon)
    {
        <a class="nut-chon" data-chuc-nang="chon"></a>
    }
</li>
