@{
    ViewData["TieuDe"] = "Quản lý chủ đề";
    Layout = "~/Views/LCT/Khung.cshtml";

    var danhSachPhamVi = LCTMoodle.Helpers.LCTHelper.layDanhSachPhamVi_DayDu();
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/styles/LCT/Form.css" />
}
@section Scripts {
    <script src="/Content/scripts/LCT/Form.js"></script>
    <script src="/Content/scripts/ChuDe/QuanLy.js"></script>
    
    <script>
        var phamVi = [];
        @foreach (KeyValuePair<string, Dictionary<string, string>> phamVi in danhSachPhamVi) {
            <text>
            phamVi.push({
                ma: '@phamVi.Value["Ma"]',
                ten: '@phamVi.Key',
                moTa: '@phamVi.Value["MoTa"]',
                hinh: '@phamVi.Value["Hinh"]'
            });
            </text>
        }
        mangNutCon['PhamVi'] = phamVi;
    </script>
}

    <article class="hop">
        <section class="tieu-de">
            Quản lý chủ đề
        </section>
        <section id="cay_chu_de" class="noi-dung lct-cay" data-ma="PhamVi" data-pham-vi="Khóa học">
            <section class="cay">
                <ul id="danh_sach_nut" class="nut">
                    <li>
                        <a data-chuc-nang="mo-pham-vi-goc" data-loai="pham-vi-goc" data-value="PhamVi" href="javascript:void(0)">
                            Chọn phạm vi
                        </a>
                        <u>
                            <ul class="nut-con">
                                @foreach (KeyValuePair<string, Dictionary<string, string>> phamVi in danhSachPhamVi)
                                {
                                    <text>
                                    <li>
                                        <a data-chuc-nang="mo-nut-con-nut-pham-vi" data-value="@phamVi.Value["Ma"]" href="javascript:void(0)">
                                            @phamVi.Key
                                        </a>
                                    </li>
                                    </text>
                                }
                            </ul>
                        </u>
                    </li>
                </ul>
            </section>
            <section class="con">
                <ul id="danh_sach_chu_de" class="muc">
                    @foreach (KeyValuePair<string, Dictionary<string, string>> phamVi in danhSachPhamVi)
                    {
                        <li>
                            <section class="mo-ta">
                                <img src="/Content/images/LCT/ChuDe/@phamVi.Value["Hinh"]">
                                <p>
                                    @phamVi.Value["MoTa"]
                                </p>
                            </section>
                            <a href="javascript:void(0)" class="ten" data-chuc-nang="mo-pham-vi" data-value="@phamVi.Value["Ma"]">
                                @phamVi.Key
                            </a>
                        </li>
                    }
                        @*<li>
                <section class="mo-ta">
                    <img src="#">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    </p>
                </section>
                <a href="#" class="ten" data-so-luong="8">
                    defdef
                </a>
                <section class="chuc-nang">
                    <i class="pe-7s-config"></i>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                Xoa chu de
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Xoa chu de
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Xoa chu de
                            </a>
                        </li>
                    </ul>
                </section>*@
                </ul>
                <a href="javascript:void(0)" data-chuc-nang="tao">
                    <i class="pe-7s-plus"></i>
    Hiện chưa có nút con, hãy tạo một nút con mới
</a>
</section>
<section class="khung-chuc-nang">
    <ul>
        <li>
            <a href="javascript:void(0)" class="pe-7s-tools"></a>
        </li>
        <li>
            <a href="javascript:void(0)" data-chuc-nang="tao" class="pe-7s-plus">
                <u></u>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="pe-7s-close-circle">
                <u></u>
            </a>
        </li>
    </ul>
</section>
</section>
</article>