@{
    ViewData["TieuDe"] = "Quản lý chủ đề";
    Layout = "~/Views/LCT/Khung.cshtml";

    var danhSachPhamVi = Helpers.LCTHelper.layDanhSachPhamVi_DayDu();
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/Form.css/LCT" />
}
@section Scripts {
    <script src="/QuanLy.js/ChuDe/"></script>
    
    <script>
        var phamVi = [];
        @foreach (KeyValuePair<string, Dictionary<string, string>> phamVi in danhSachPhamVi) {
            <text>
            phamVi.push({
                ma: '@phamVi.Value["Ma"]',
                ten: '@phamVi.Key',
                moTa: '@phamVi.Value["MoTa"]',
                hinh: '@phamVi.Value["Hinh"]'
            });
            </text>
        }
        mangNutCon['PhamVi'] = phamVi;
    </script>
}

    <article class="hop">
        <section class="tieu-de">
            Quản lý chủ đề
        </section>
        <section id="cay_chu_de" class="noi-dung lct-cay" data-value="PhamVi" data-pham-vi>
            <section class="cay">
                <ul id="danh_sach_nut" class="nut">
                    <li>
                        <a data-chuc-nang="mo-nut" data-loai="nut-pham-vi-goc" data-value="PhamVi" href="javascript:void(0)">
                            Chọn phạm vi
                        </a>
                        <ul class="nut-con">
                            @foreach (KeyValuePair<string, Dictionary<string, string>> phamVi in danhSachPhamVi)
                            {
                                <text>
                                    <li>
                                        <a data-chuc-nang="mo-nut" data-loai="nut-con-pham-vi-tren-nut" data-value="@phamVi.Value["Ma"]" href="javascript:void(0)">
                                            @phamVi.Key
                                        </a>
                                    </li>
                                </text>
                            }
                        </ul>

                    </li>
                </ul>
            </section>
            <section class="con">
                <ul id="danh_sach_chu_de" class="muc">
                    @foreach (KeyValuePair<string, Dictionary<string, string>> phamVi in danhSachPhamVi)
                    {
                        <li>
                            <section class="mo-ta">
                                <img src="/Content/images/LCT/ChuDe/@phamVi.Value["Hinh"]">
                                <p>
                                    @phamVi.Value["MoTa"]
                                </p>
                            </section>
                            <a href="javascript:void(0)" class="ten" data-chuc-nang="mo-nut" data-loai="nut-con-pham-vi" data-value="@phamVi.Value["Ma"]">
                                @phamVi.Key
                            </a>
                        </li>
                    }
                </ul>
                <a href="javascript:void(0)" data-chuc-nang="tao">
                    <i class="pe-7s-plus"></i>
                    Hiện chưa có nút con, hãy tạo một nút con mới
                </a>
</section>
<section class="khung-chuc-nang">
    <ul>
        <li>
            <a href="javascript:void(0)" class="pe-7s-tools"></a>
        </li>
        <li>
            <a href="javascript:void(0)" data-chuc-nang="tao" class="pe-7s-plus">
                <u></u>
            </a>
        </li>
    </ul>
</section>
</section>
</article>