@model DTOLayer.BaiVietBaiGiangDTO

<li data-doi-tuong="muc-bai-viet" class="muc-bai-viet" data-ma=@Model.ma>
    <h2 class="tieu-de">
        <i class="pe-7s-notebook"></i>
        @Model.tieuDe
    </h2>
    <section class="khung-noi-dung">
        <section class="noi-dung">
            @Html.Raw(Model.noiDung)
        </section>        
        @if (@Model.tapTin != null)
        {
            <section class="tap-tin">
                <a href="/LayTapTin/BaiVietBaiGiang_TapTin/@Model.tapTin.ma">
                    <img src="/LayTapTin/BaiVietBaiGiang_TapTin/@Model.tapTin.ma" />
                    <span>@Model.tapTin.ten</span>
                </a>
            </section>
        }
    </section>
    <section class="khung-chuc-nang-lct">
        <ul data-doi-tuong="cnbg-@Model.ma">
            <li>
                <a data-chuc-nang="xoa-bai-viet" data-value="@Model.ma">Xóa bài viết</a>
            </li>
        </ul>
        <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cnbg-@Model.ma">
            <i class="pe-7f-config"></i>
        </button>
    </section>
</li>