@using LCTMoodle.LCTView
@model DTOLayer.KhoaHocDTO
@{
    var danhSachBaiGiang = ViewData["BaiGiang"] as List<DTOLayer.BaiVietBaiGiangDTO>;
    var danhSachBaiTap = ViewData["BaiTap"] as List<DTOLayer.BaiVietBaiTapDTO>;
    var danhSachDienDan = ViewData["DienDan"] as List<DTOLayer.BaiVietDienDanDTO>;
}

<article class="hop">
    <section class="noi-dung">
        <ul class="danh-sach-nhom">
            @if (danhSachBaiGiang != null)
            {
                <li class="khung-nhom">
                    <section class="ten-nhom">
                        <a data-chuc-nang="hien-thi" data-value="baigiang">Bài giảng</a>
                    </section>
                    <section class="khung-danh-sach-bai-viet">
                        <ul class="danh-sach-bai-viet">
                            <li class="bai-viet co-bieu-tuong">
                                <section class="khung-bieu-tuong">
                                    <article class="bieu-tuong bai-giang"></article>
                                </section>
                                <section class="khung-noi-dung">
                                    <section class="tieu-de">
                                        <a href="/KhoaHoc/@danhSachBaiGiang[0].khoaHoc.ma?hienthi=baigiang&ma=@danhSachBaiGiang[0].ma" data-chuc-nang="hien-thi" data-value="baigiang" data-ma="@danhSachBaiGiang[0].ma">
                                            @danhSachBaiGiang[0].tieuDe
                                        </a>
                                    </section>
                                    <section class="noi-dung">
                                        @Html.Raw(System.Text.RegularExpressions.Regex.Replace(danhSachBaiGiang[0].noiDung, "<.*?>", ""))
                                    </section>
                                    <section class="thong-tin-dang">
                                        @danhSachBaiGiang[0].thoiDiemTao.Value.ToString("d/M/yyyy H:mm")
                                        - @NguoiDungView.link(danhSachBaiGiang[0].nguoiTao)
                                    </section>
                                </section>
                            </li>
                            @for (int i = 1; i < 3 && i < danhSachBaiGiang.Count; i++)
                            {
                                <li class="bai-viet">
                                    <section class="tieu-de">
                                        <a href="/KhoaHoc/@danhSachBaiGiang[i].khoaHoc.ma?hienthi=baigiang&ma=@danhSachBaiGiang[i].ma" data-chuc-nang="hien-thi" data-value="baigiang" data-ma="@danhSachBaiGiang[i].ma">
                                            @danhSachBaiGiang[i].tieuDe
                                        </a>
                                    </section>
                                    <section class="thong-tin-dang">
                                        @danhSachBaiGiang[i].thoiDiemTao.Value.ToString("d/M/yyyy H:mm")
                                        - @NguoiDungView.link(danhSachBaiGiang[i].nguoiTao)
                                    </section>
                                </li>
                            }
                        </ul>
                    </section>
                </li>
            }
            @if (danhSachBaiTap != null)
            {
                <li class="khung-nhom">
                    <section class="ten-nhom">
                        <a data-chuc-nang="hien-thi" data-value="baitap">Bài tập</a>
                    </section>
                    <section class="khung-danh-sach-bai-viet">
                        <ul class="danh-sach-bai-viet">
                            <li class="bai-viet co-bieu-tuong">
                                <section class="khung-bieu-tuong">
                                    <article class="bieu-tuong bai-tap"></article>
                                </section>
                                <section class="khung-noi-dung">
                                    <section class="tieu-de">
                                        <a href="/KhoaHoc/@danhSachBaiTap[0].khoaHoc.ma?hienthi=baitap&ma=@danhSachBaiTap[0].ma" data-chuc-nang="hien-thi" data-value="baitap" data-ma="@danhSachBaiTap[0].ma">
                                            @danhSachBaiTap[0].tieuDe
                                        </a>
                                    </section>
                                    <section class="noi-dung">
                                        @Html.Raw(System.Text.RegularExpressions.Regex.Replace(danhSachBaiTap[0].noiDung, "<.*?>", ""))
                                    </section>
                                    <section class="thong-tin-dang">
                                        @danhSachBaiTap[0].thoiDiemTao.Value.ToString("d/M/yyyy H:mm")
                                        - @NguoiDungView.link(danhSachBaiTap[0].nguoiTao)
                                    </section>
                                </section>
                            </li>
                            @for (int i = 1; i < 3 && i < danhSachBaiTap.Count; i++)
                            {
                                <li class="bai-viet">
                                    <section class="tieu-de">
                                        <a href="/KhoaHoc/@danhSachBaiTap[i].khoaHoc.ma?hienthi=baitap&ma=@danhSachBaiTap[i].ma" data-chuc-nang="hien-thi" data-value="baitap" data-ma="@danhSachBaiTap[i].ma">
                                            @danhSachBaiTap[i].tieuDe
                                        </a>
                                    </section>
                                    <section class="thong-tin-dang">
                                        @danhSachBaiTap[i].thoiDiemTao.Value.ToString("d/M/yyyy H:mm")
                                        - @NguoiDungView.link(danhSachBaiTap[i].nguoiTao)
                                    </section>
                                </li>
                            }
                        </ul>
                    </section>
                </li>
            }
            @if (danhSachDienDan != null)
            {
                <li class="khung-nhom">
                    <section class="ten-nhom">
                        <a data-chuc-nang="hien-thi" data-value="diendan">Diễn đàn</a>
                    </section>
                    <section class="khung-danh-sach-bai-viet">
                        <ul class="danh-sach-bai-viet">
                            <li class="bai-viet co-bieu-tuong">
                                <section class="khung-bieu-tuong">
                                    <article class="bieu-tuong dien-dan"></article>
                                </section>
                                <section class="khung-noi-dung">
                                    <section class="tieu-de">
                                        <a href="/KhoaHoc/@danhSachDienDan[0].khoaHoc.ma?hienthi=diendan&ma=@danhSachDienDan[0].ma" data-chuc-nang="hien-thi" data-value="diendan" data-ma="@danhSachDienDan[0].ma">
                                            @danhSachDienDan[0].tieuDe
                                        </a>
                                    </section>
                                    <section class="noi-dung">
                                        @Html.Raw(System.Text.RegularExpressions.Regex.Replace(danhSachDienDan[0].noiDung, "<.*?>", ""))
                                    </section>
                                    <section class="thong-tin-dang">
                                        @danhSachDienDan[0].thoiDiemTao.Value.ToString("d/M/yyyy H:mm")
                                        - @NguoiDungView.link(danhSachDienDan[0].nguoiTao)
                                    </section>
                                </section>
                            </li>
                            @for (int i = 1; i < 3 && i < danhSachDienDan.Count; i++)
                            {
                                <li class="bai-viet">
                                    <section class="tieu-de">
                                        <a href="/KhoaHoc/@danhSachDienDan[i].khoaHoc.ma?hienthi=diendan&ma=@danhSachDienDan[i].ma" data-chuc-nang="hien-thi" data-value="diendan" data-ma="@danhSachDienDan[i].ma">
                                            @danhSachDienDan[i].tieuDe
                                        </a>
                                    </section>
                                    <section class="thong-tin-dang">
                                        @danhSachDienDan[i].thoiDiemTao.Value.ToString("d/M/yyyy H:mm")
                                        - @NguoiDungView.link(danhSachDienDan[i].nguoiTao)
                                    </section>
                                </li>
                            }
                        </ul>
                    </section>
                </li>
            }
        </ul>
    </section>
</article>