@model DTOLayer.KhoaHocDTO
@{
    ViewData["TieuDe"] = Model == null ? 
        "Tạo khóa học" :
        "Sửa khóa học - " + Model.ten;
    Layout = "~/Views/LCT/Khung.cshtml";
}

@section Styles {
}

@section Scripts {
    <script src="/Khung.js/ChuDe/"></script>
    <script src="/Tao.js/KhoaHoc/"></script>
}

<article class="hop hop-2-vien">
    <section class="tieu-de">
        @(Model == null ? "Tạo khóa học" : "Sửa khóa học - " + Model.ten)
    </section>
    <form id="tao_khoa_hoc_form" class="noi-dung lct-form" data-validate-auto @(Model != null ? "data-cap-nhat" : null)>
        @if (Model != null)
        {
            <input type="hidden" name="Ma" value="@Model.ma.Value" />
        }
        <article>
            <ul>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tên
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-mac-dinh="@(Model != null ? Model.ten : null)" data-validate="bat-buoc" type="text" name="Ten" placeholder="Tên khóa học của bạn là gì?" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Mô tả
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <textarea data-mac-dinh="@(Model != null ? Model.moTa : null)" data-validate="bat-buoc" name="MoTa" placeholder="Hãy mô tả về khóa học của bạn"></textarea>
                        </article>
                    </section>
                </li>
                @if (ViewData.ContainsKey("ChuDe"))
                {
                    <li>
                        <section class="tieu-de">
                            <label>
                                Chủ đề
                            </label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input @if (Model != null && Model.chuDe != null) 
                                       {
                                           @: data-ma-mac-dinh="@Model.chuDe.ma" data-ten-mac-dinh="@Model.chuDe.ten"
                                       } data-data="@Newtonsoft.Json.JsonConvert.SerializeObject(new { chuoiMaChuDe = ViewData["ChuDe"] })" data-validate="bat-buoc" data-input-type="chu-de" name="MaChuDe" placeholder="Khóa học của bạn thuộc chủ đề nào?" />
                            </article>
                        </section>
                    </li>
                }
                <li>
                    <section class="tieu-de">
                        <label>
                            Ảnh đại diện
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-dung-luong="5242880" data-duoi="jpeg jpg png"
                                   @if (Model != null && Model.hinhDaiDien != null) {  @: data-ma-mac-dinh="@Model.hinhDaiDien.ma" data-loai-mac-dinh="KhoaHoc_HinhDaiDien"
                                                                   } data-validate="bat-buoc" type="file" name="MaHinhDaiDien" />



                        </article>
                    </section>
                </li>
                @if (Model == null)
                {
                    <li>
                        <section class="tieu-de">
                            <label>
                                Giảng viên khóa học
                            </label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input data-validate="bat-buoc" name="MaGiangVien" data-input-type="goi-y" data-url="/NguoiDung/_GoiY_QuanLyKhoaHoc" placeholder="Ai là giảng viên của khóa học này?" />
                            </article>
                        </section>
                    </li>
                }
                <li>
                    <section class="tieu-de">
                        <label>
                            Khóa học thời hạn
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input @(Model != null && Model.thoiDiemHetHan.HasValue ? "data-mac-dinh" : null) data-chuc-nang="tat-mo" data-mo="khoa-hoc-thoi-han" name="CoHan" type="checkbox" data-text="Khóa học có thời hạn" />
                        </article>
                    </section>
                </li>
                <li data-doi-tuong="khoa-hoc-thoi-han">
                    <section class="tieu-de">
                        <label>
                            Thời hạn
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input 
                                @if (Model != null && Model.thoiDiemHetHan.HasValue) {
                                    @:data-gio-mac-dinh="@Model.thoiDiemHetHan.Value.ToString("H:mm")" data-ngay-mac-dinh="@Model.thoiDiemHetHan.Value.ToString("d/M/yyyy")"
                                } data-validate="bat-buoc" data-input-type="ngay-gio" name="ThoiDiemHetHan" data-gio-placeholder="Giờ" data-ngay-placeholder="Ngày" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Khóa học đăng ký
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input @(Model != null && Model.canDangKy ? "data-mac-dinh" : null) data-chuc-nang="tat-mo" data-mo="khoa-hoc-dang-ky" name="CanDangKy" type="checkbox" value="" data-text="Khóa học đăng ký" />
                            <input @(Model != null && Model.hanDangKy.HasValue ? "data-mac-dinh" : null) data-chuc-nang="tat-mo" data-mo="khoa-hoc-thoi-han-dang-ky" data-doi-tuong="khoa-hoc-dang-ky" name="CoHanDangKy" type="checkbox" value="" data-text="Đăng ký có thời hạn" />
                        </article>
                    </section>
                </li>
                <li data-doi-tuong="khoa-hoc-thoi-han-dang-ky">
                    <section class="tieu-de">
                        <label>
                            Thời hạn đăng ký
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input @if (Model != null && Model.hanDangKy.HasValue) {
                                       @:data-gio-mac-dinh="@Model.hanDangKy.Value.ToString("H:mm")" data-ngay-mac-dinh="@Model.hanDangKy.Value.ToString("d/M/yyyy")"
                                   } data-validate="bat-buoc" data-input-type="ngay-gio" name="HanDangKy" data-gio-placeholder="Giờ" data-ngay-placeholder="Ngày" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Phí tham gia
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input @if (Model != null ) { 
                                        @:data-mac-dinh="@Model.phiThamGia"  
                                   } data-validate="so-nguyen" type="text" name="PhiThamGia" placeholder="Phí tham gia khóa học (bỏ qua nếu không có phí)" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Chế độ riêng tư
                        </label>
                    </section>
                    <section class="noi-dung">
                        <section class="input">
                            <select name="CheDoRiengTu">
                                @foreach (var cheDoRiengTu in Data.CheDoRiengTu.layDanhSach())
                                {
                                    <option value="@cheDoRiengTu.ma" @((Model == null && cheDoRiengTu.macDinh) || (Model != null && Model.cheDoRiengTu == cheDoRiengTu.ma) ? "data-mac-dinh" : null) >@cheDoRiengTu.ten</option>
                                }
                            </select>
                        </section>
                    </section>
                </li>
            </ul>
            <section class="khung-button">
                <button type="submit" class="chap-nhan">
                    @(Model == null ? "Tạo" : "Sửa") khóa học
                </button>
            </section>
        </article>
    </form>
</article>

