@using LCTMoodle.LCTView
@using Helpers
@model DTOLayer.KhoaHocDTO
@{
    Layout = "~/Views/LCT/Khung.cshtml";

    var danhSachThanhVien = ViewData["ThanhVien"] as List<DTOLayer.KhoaHoc_NguoiDungDTO>;
    var danhSachDangKy = ViewData["DanhSachDangKy"] as List<DTOLayer.KhoaHoc_NguoiDungDTO>;
    var danhSachBiChan = ViewData["DanhSachBiChan"] as List<DTOLayer.KhoaHoc_NguoiDungDTO>;
        
    ViewData["TieuDe"] = "Danh sách thành viên - " + Model.ten;

    ViewData["DieuHuong"] = new List<string>() {
        Model.ten, "/KhoaHoc/" + Model.ma,
        "Danh sách thành viên", "/KhoaHoc/ThanhVien/" + Model.ma
    };

    /*
        Chức năng
     */
    List<string> chucNang = new List<string>();

    chucNang.Add("Nội dung khóa học");
    chucNang.Add("href='/KhoaHoc/" + Model.ma + "'");

    var dsQuyen = QuyenView.layDSQuyen("KH", Model.ma.Value);
    bool coQuyenQLThanhVien = QuyenHelper.co(dsQuyen, "QLThanhVien");
    
    if (coQuyenQLThanhVien)
    {
        chucNang.Add("Thêm thành viên");
        chucNang.Add("href='/KhoaHoc/ThemThanhVien/" + Model.ma + "'");
    }

    if (QuyenHelper.co(dsQuyen, "QLQuyen"))
    {
        chucNang.Add("Quản lý quyền");
        chucNang.Add("href='/QuanlyQuyen/KH/" + Model.ma + "'");
    }

    chucNang.Add("Chương trình khóa học");
    chucNang.Add("href='/KhoaHoc/ChuongTrinh/" + Model.ma + "'");

    if (QuyenHelper.co(dsQuyen, "QLBangDiem"))
    {
        chucNang.Add("Quản lý bảng điểm");
        chucNang.Add("href='/KhoaHoc/Tao-BangDiem/" + Model.ma + "'");
    }

    chucNang.Add("Xem điểm khóa học");
    chucNang.Add("href='/KhoaHoc/Xem-BangDiem/" + Model.ma + "'");

    ViewData["ChucNang"] = chucNang;
}

@section Styles {
    <link href="/DanhSachThanhVien.css/KhoaHoc/" rel="stylesheet" />
}

@section Scripts {
    <script src="/DanhSachThanhVien.js/KhoaHoc/"></script>
    <script>
        maKhoaHoc = '@Model.ma';
    </script>
}

@if (danhSachDangKy != null)
{
    <article class="hop">
        <section class="tieu-de">
            Danh sách người dùng đăng ký
        </section>
        <section class="noi-dung khung-nguoi-dung">
            <ul id="danh_sach_dang_ky" class="danh-sach">
                @foreach (var nd in danhSachDangKy)
                {
                    <li class="item" data-ma="@nd.nguoiDung.ma">                        
                        @NguoiDungView.hinhDaiDien(nd.nguoiDung)
                        @NguoiDungView.link(nd.nguoiDung)
                        @if (coQuyenQLThanhVien)
                        {
                            <section class="khung-chuc-nang">
                                <a data-chuc-nang="dong-y" class="dong-y" title="Chấp nhận"><i></i></a>
                                <a data-chuc-nang="tu-choi" class="tu-choi" title="Từ chối"><i></i></a>
                                <a data-chuc-nang="chan" class="chan" title="Chặn"><i></i></a>
                            </section>   
                        }
                    </li>
                }
            </ul>
        </section>
    </article>
}

@if (danhSachThanhVien != null)
{
    <article class="hop">
        <section class="tieu-de">
            Danh sách thành viên
        </section>
        <section class="noi-dung khung-nguoi-dung">
            <ul id="danh_sach_thanh_vien" class="danh-sach">
                @foreach (var tv in danhSachThanhVien)
                {
                    <li class="item" data-ma="@tv.nguoiDung.ma">   
                        @if (tv.diemThaoLuan.HasValue && tv.diemThaoLuan.Value != 0)
                        {
                            <section class="diem">10</section>   
                        }
                        @NguoiDungView.hinhDaiDien(tv.nguoiDung)
                        @NguoiDungView.link(tv.nguoiDung)
                        @if (coQuyenQLThanhVien)
                        {
                            <section class="khung-chuc-nang-lct">
                                <ul data-doi-tuong="cnnd-@tv.nguoiDung.ma">
                                    <li>
                                        @if (tv.laHocVien)
                                        {
                                            <a data-chuc-nang="tat-hoc-vien">Xóa khỏi danh sách học viên</a>
                                        }
                                        else
                                        {
                                            <a data-chuc-nang="mo-hoc-vien">Đưa vào danh sách học viên</a>   
                                        }
                                    </li>
                                    <li>
                                        <a data-chuc-nang="xoa-thanh-vien">Loại bỏ thành viên</a>
                                    </li>
                                </ul>
                                <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cnnd-@tv.nguoiDung.ma">
                                    <i class="pe-7f-config"></i>
                                </button>
                            </section>
                        }
                    </li>
                }
            </ul>
        </section>
    </article>
}

@if (danhSachBiChan != null)
{
    <article class="hop">
        <section class="tieu-de">
            Danh sách người dùng bị chặn
        </section>
        <section class="noi-dung khung-nguoi-dung">
            <ul id="danh_sach_bi_chan" class="danh-sach">
                @foreach (var nd in danhSachBiChan)
                {
                    <li class="item" data-ma="@nd.nguoiDung.ma">                        
                        @NguoiDungView.hinhDaiDien(nd.nguoiDung)
                        @NguoiDungView.link(nd.nguoiDung)
                        @if (coQuyenQLThanhVien)
                        {
                            <section class="khung-chuc-nang">
                                <a data-chuc-nang="bo-chan" class="bo-chan" title="Bỏ chặn"><i></i></a>
                            </section>   
                        }
                    </li>
                }
            </ul>
        </section>
    </article>
}