@using Helpers
@using LCTMoodle.LCTView
@model DTOLayer.BaiVietDienDanDTO

@{
    var maKhoaHoc = Model.khoaHoc.ma.Value;
    var maNguoiDung = Session["NguoiDung"] as int?;

    string[] dsQuyen;
    bool coQuyenSua, coQuyenXoa, coQuyenGhim, laThanhVien, coQuyenQLDiem;

    if (maNguoiDung.HasValue)
    {
        if (ViewData.ContainsKey("DSQuyen"))
        {
            dsQuyen = ViewData["DSQuyen"] as string[];
        }
        else
        {
            dsQuyen = QuyenView.layDSQuyen("KH", maKhoaHoc, maNguoiDung);
        }

        coQuyenXoa = coQuyenSua = maNguoiDung == Model.nguoiTao.ma || QuyenHelper.co(dsQuyen, "DD_QLNoiDung");
        coQuyenGhim = QuyenHelper.co(dsQuyen, "DD_QLNoiDung");
        coQuyenQLDiem = QuyenHelper.co(dsQuyen, "DD_QLDiem");

        if (ViewData.ContainsKey("LaThanhVien"))
        {
            laThanhVien = (bool)ViewData["LaThanhVien"];
        }
        else
        {
            var ketQua = BUSLayer.KhoaHoc_NguoiDungBUS.layTheoMaKhoaHocVaMaNguoiDung(maKhoaHoc, maNguoiDung.Value);
            if (ketQua.trangThai != 0)
            {
                laThanhVien = false;
            }
            else
            {
                var thanhVien = ketQua.ketQua as DTOLayer.KhoaHoc_NguoiDungDTO;
                laThanhVien = thanhVien.trangThai == 0;
            }
        }
    }
    else
    {
        coQuyenQLDiem = coQuyenSua = coQuyenXoa = coQuyenGhim = laThanhVien = false;
        dsQuyen = null;
    }
}

<li data-doi-tuong="muc-bai-viet" class="muc-bai-viet" data-diem="@Model.diem" data-ma="@Model.ma" @(Model.ghim ? "data-ghim" : null) >
    <section class="khung-bai-viet">
        <section class="khung-thong-tin">
            <section class="trai">
                <article class="hinh-dai-dien">                    
                    @NguoiDungView.hinhDaiDien(Model.nguoiTao)
                </article>
            </section>
            <section class="phai">
                <section class="nguoi-dung">
                    <a href="#">@NguoiDungView.link(Model.nguoiTao)</a>
                </section>
                <section class="bai-viet">
                    <section class="thoi-gian">
                        @Model.thoiDiemTao.Value.ToString("H:mm d/M/yyyy")
                    </section>
                </section>
            </section>            
        </section>
        <section data-doi-tuong="khung-noi-dung" class="khung-noi-dung">
            <section class="tieu-de">
                <span data-doi-tuong="diem" class="diem">@if(Model.diem.HasValue && Model.diem.Value != 0) { @Model.diem.Value }</span>
                <h2>@Model.tieuDe</h2>
            </section>
            <section class="noi-dung noi-dung-ckeditor">
                @Html.Raw(Model.noiDung)
            </section>            
            @if (@Model.tapTin != null)
            {
                <section class="tap-tin">
                    <a href="/LayTapTin/BaiVietDienDan_TapTin/@Model.tapTin.ma">
                        <img src="/LayHinh/BaiVietDienDan_TapTin/@Model.tapTin.ma" />
                        <span>@Model.tapTin.ten</span>
                    </a>
                </section>
            }
        </section>
        <section class="khung-chuc-nang"><a href="javascript:void(0)" data-chuc-nang="binh-luan">Bình luận</a></section>
        @if (coQuyenSua || coQuyenXoa || coQuyenGhim)
        {
            <section class="khung-chuc-nang-lct ben-trai" style="top: 10px; right: 10px;">
                <ul data-doi-tuong="cndd-@Model.ma">
                    @if (coQuyenGhim)
                    {
                        <li>
                            <a data-chuc-nang="ghim-bai-viet">@(Model.ghim ? "Bỏ ghim" : "Ghim") bài viết</a>
                        </li>   
                    }
                    @if (coQuyenQLDiem)
                    {
                        <li>
                            <a data-chuc-nang="cho-diem-bai-viet">Cho điểm bài viết</a>
                        </li>
                    }
                    @if (coQuyenSua)
                    {
                        <li>
                            <a data-chuc-nang="sua-bai-viet">Sửa bài viết</a>
                        </li>
                    }
                    @if (coQuyenXoa)
                    {
                        <li>
                            <a data-chuc-nang="xoa-bai-viet">Xóa bài viết</a>
                        </li>
                    }
                </ul>
                <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cndd-@Model.ma">
                    <i class="pe-7f-config"></i>
                </button>
            </section>
        }
    </section>
</li>