@model DTOLayer.CotDiemDTO

<tr class="item-cot-diem" data-doi-tuong="item-cot-diem" data-ma="@Model.ma">
    <td></td>
    <td>
        @Model.ten
    </td>
    <td>
        @(Model.laDiemCong ? "+" : Model.heSo.ToString())
    </td>
    <td>
        @Model.moTa
    </td>
    <td style="position: relative">
        @(Model.ngay.HasValue ? Model.ngay.Value.ToString("d/M/yyyy") : null)
        <section class="khung-chuc-nang-lct ben-trai" style="top: 1px; right: 1px;">
            <ul data-doi-tuong="cncd-@Model.ma">
                <li>
                    <a data-chuc-nang="xoa">Xóa cột điểm</a>
                </li>
            </ul>
            <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cncd-@Model.ma">
                <i class="pe-7f-config"></i>
            </button>
        </section>
    </td>
</tr>
