@using LCTMoodle.LCTView
@using Helpers
@model DTOLayer.KhoaHocDTO
@{
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["TieuDe"] = Model.ten;

    var dsCotDiem = ViewData["CotDiem"] as List<DTOLayer.CotDiemDTO>;
    var dsNguoiDung = ViewData["NguoiDung"] as List<DTOLayer.NguoiDungDTO>;
    var chuoiDiem = ViewData["Diem"] as string[];
    var slCotDiem = dsCotDiem.Count;
    var tongHeSo = 0;
    

    var maNguoiDung = Session["NguoiDung"] as int?;
    string[] dsQuyen;

    bool coQuyenQLBangDiem;

    if (maNguoiDung.HasValue)
    {
        dsQuyen = QuyenView.layDSQuyen("KH", Model.ma.Value);

        coQuyenQLBangDiem = QuyenHelper.co(dsQuyen, "QLBangDiem");
    }
    else
    {
        dsQuyen = null;
        coQuyenQLBangDiem = false;
    }

    List<string> chucNang = new List<string>();

    chucNang.Add("Nội dung khóa học");
    chucNang.Add("href='/KhoaHoc/" + Model.ma + "'");

    if (QuyenHelper.co(dsQuyen, "QLQuyen"))
    {
        chucNang.Add("Quản lý quyền");
        chucNang.Add("href='/QuanlyQuyen/KH/" + Model.ma + "'");
    }

    chucNang.Add("Chương trình khóa học");
    chucNang.Add("href='/KhoaHoc/ChuongTrinh/" + Model.ma + "'");

    if (QuyenHelper.co(dsQuyen, "QLBangDiem"))
    {
        chucNang.Add("Quản lý bảng điểm");
        chucNang.Add("href='/KhoaHoc/Tao-BangDiem/" + Model.ma + "'");
    }

    ViewData["ChucNang"] = chucNang;
    
    if (chucNang.Count != 0)
    {
        ViewData["ChucNang"] = chucNang;
    }
}

@section Styles {
    <link href="/Xem.css/BangDiem" rel="stylesheet" />
}
@*Script ở dưới*@

<article class="hop hop-2-vien" style="text-align: center;">
    <section class="tieu-de" style="text-align: left;">
        Bảng điểm
    </section>
    @if (coQuyenQLBangDiem)
    {
        <section class="khung-chuc-nang lct-form">
            <a data-chuc-nang="sua-bang-diem" class="button">Chuyển chế độ sửa</a>
            <a data-chuc-nang="luu-sua" class="button">Lưu</a>
            <a data-chuc-nang="hoan-thanh-sua" class="button">Hoàn thành</a>
            <a data-chuc-nang="huy-sua" class="button">Hủy</a>
        </section>   
    }
    <section class="noi-dung" style="display: inline-block; max-width: 100%;">
        <article style="border: 0; background-color: transparent;">
            <section id="khung" class="khung-diem">
                <table class="lct-bang" style="width: auto;">
                    <thead id="khung_tieu_de">
                        <tr>
                            <th colspan="2">Họ tên</th>
                            @foreach (var cotDiem in dsCotDiem)
                            {
                                if (!cotDiem.laDiemCong && cotDiem.heSo.HasValue)
                                {
                                    tongHeSo += cotDiem.heSo.Value;
                                }
                                <th class="ngay"><span>@(cotDiem.ngay.HasValue ? cotDiem.ngay.Value.ToString("d/M") : null)</span></th>
                            }
                            <th data-cot="tb">TB</th>
                            <th data-cot="cong">+</th>
                        </tr>
                    </thead>
                    <tbody id="khung_diem" class="lct-form" data-cap-nhat>
                        @{
                            int iNguoiDung = 0;
                            foreach (var nguoiDung in dsNguoiDung)
                            {
                                <tr data-ma="@nguoiDung.ma">
                                    <th class="khong-vien">@nguoiDung.ho @nguoiDung.tenLot</th>
                                    <th class="khong-vien">@nguoiDung.ten</th>
                                    @{
                                double trungBinh = 0;
                                double diemCong = 0;
                                int hangHienTai = slCotDiem * iNguoiDung++;
                                for (int i = 0; i < slCotDiem; i++)
                                {
                                    string strDiem = chuoiDiem[i + hangHienTai];
                                    var cotDiem = dsCotDiem[i];
                                    var laDiemCong = cotDiem.laDiemCong;
                                    if (strDiem.IsEmpty())
                                    {
                                        <td data-ma="@cotDiem.ma" data-la-cot-diem data-he-so="@cotDiem.heSo" data-loai="@(laDiemCong ? "cong" : "diem")" class="cot-diem"></td>
                                    }
                                    else
                                    {
                                        if (laDiemCong)
                                        {
                                            diemCong += double.Parse(strDiem);
                                        }
                                        else
                                        {
                                            trungBinh += double.Parse(strDiem);
                                        }
                                        <td data-ma="@cotDiem.ma" data-la-cot-diem data-he-so="@cotDiem.heSo" data-loai="@(laDiemCong ? "cong" : "diem")" class="cot-diem" data-diem="@strDiem"><span>@strDiem</span></td>
                                    }
                                }
                                        <td data-cot="tb"><span>@((trungBinh / tongHeSo).ToString("0.##"))</span></td>
                                        <td data-cot="cong"><span>@diemCong</span></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </section>
        </article>
    </section>   
    @if (coQuyenQLBangDiem)
    {
        <section class="khung-chuc-nang lct-form">
            <a data-chuc-nang="sua-bang-diem" class="button">Chuyển chế độ sửa</a>
            <a data-chuc-nang="luu-sua" class="button">Lưu</a>
            <a data-chuc-nang="hoan-thanh-sua" class="button">Hoàn thành</a>
            <a data-chuc-nang="huy-sua" class="button">Hủy</a>
        </section>
    }
</article>

@section Scripts {
    <script src="/Xem.js/BangDiem"></script>
    <script>
        tongHeSo = '@tongHeSo';
    </script>
}