@model DTOLayer.CauHoiDTO

<form class="lct-form" data-doi-tuong="form-cau-hoi" @(Model != null ? "data-cap-nhat" : null)>
    @if (Model != null)
    {
        <input type="hidden" name="Ma" value="@Model.ma" />   
    }    
    <article>
        <ul>
            <li>
                <section class="noi-dung">
                    <article class="input">
                        <input type="text" name="TieuDe" placeholder="Tiêu đề" data-mac-dinh="@(Model != null ? Model.tieuDe : null)" />
                    </article>
                </section>
            </li>
            <li>
                <section class="noi-dung noi-dung-ckeditor">
                    <article class="input">
                        <textarea data-validate="bat-buoc" name="NoiDung" data-input-type="editor" placeholder="Nội dung" data-mac-dinh="@(Model != null ? Html.Raw(Model.noiDung) : null)"></textarea>
                    </article>
                </section>
            </li>    
            <li>
                <section class="noi-dung">
                    <article class="input">
                        <input name="MaChuDe" data-input-type="chu-de" data-ma-mac-dinh="@(Model.chuDe != null ? Model.chuDe.ma : null)" data-ten-mac-dinh="@(Model.chuDe != null ? Model.chuDe.ten : null)" placeholder="Tìm và chọn chủ đề" />
                    </article>
                </section>
            </li>        
        </ul>
        <section class="khung-button">
            @if (Model != null)
            {
                <button type="submit" class="chap-nhan">Cập nhật</button>
                <button type="button" data-chuc-nang="huy" class="can-than">Hủy</button>
            }
            else
            {
                <button type="submit" class="chap-nhan">Thêm câu hỏi</button>
            }      
        </section>
    </article>
</form>