@using LCTMoodle.LCTView
@using Helpers
@model DTOLayer.CauHoiDTO

<article class="cau-hoi">

    <div class="chi-tiet @(CauHoiHelper.coCauTraLoiDung(Model) == true ? "co-tra-loi-dung" : null)">

        <div class="tieu-de">
            <a href="/HoiDap/@Model.ma">
                @Model.tieuDe
            </a>
        </div>

        <div class="thong-tin-dang">
            @if (Model.nguoiTao != null)
            {
                <div class="nguoi-dang">
                    <a href="/NguoiDung/Xem/@Model.nguoiTao.ma">                        
                        @NguoiDungView.hinhDaiDien(Model.nguoiTao)
                        <span>@Model.nguoiTao.ho @Model.nguoiTao.tenLot @Model.nguoiTao.ten</span>
                    </a>
                </div>
            }

            <div class="thoi-gian-dang">
                <span>@View.HienThiThoiGian(Model.thoiDiemTao)</span>
            </div>

        </div>

    </div>

    <div class="thong-tin">

        <div class="diem">
            <span>@Model.diem</span>
        </div>

        <div class="tra-loi">
            <span>@Model.soLuongTraLoi</span>
        </div>

    </div>

</article>