@using Helpers
@using LCTMoodle.LCTView
@model DTOLayer.CauHoiDTO
@{
    //0: Chưa vote | 1: Vote cộng | -1: Vote trừ
    int trangThaiVote = 0;
    if (ViewData["TrangThaiVote"] != null)
    {
        trangThaiVote = (int)ViewData["TrangThaiVote"];
    }

    int? maNguoiDung = Session["NguoiDung"] as int?;
    string[] dsQuyen;
    bool coQuyenSuaCauHoi, coQuyenXoaCauHoi;
    
    if (maNguoiDung.HasValue)
    {
        if (ViewData.ContainsKey("DSQuyen"))
        {
            dsQuyen = ViewData["DSQuyen"] as string[];
        }
        else
        {
            dsQuyen = QuyenView.layDSQuyen("HD", 0, maNguoiDung);
        }

        coQuyenSuaCauHoi = maNguoiDung == Model.nguoiTao.ma || QuyenHelper.co(dsQuyen, "SuaCauHoi");
        coQuyenXoaCauHoi = maNguoiDung == Model.nguoiTao.ma || QuyenHelper.co(dsQuyen, "XoaCauHoi");
    }
    else
    {
        dsQuyen = null;
        coQuyenSuaCauHoi = coQuyenXoaCauHoi = false;
    }
}

@if (Model != null)
{
    <article class="muc-hoi-dap cau-hoi" data-doi-tuong="cau-hoi" data-ma="@Model.ma" data-trang-thai-vote="@trangThaiVote">
        @if (coQuyenSuaCauHoi || coQuyenXoaCauHoi)
        {
            <section class="khung-chuc-nang-lct">
                <ul data-doi-tuong="cauhoi-@Model.ma">
                    @if (coQuyenSuaCauHoi)
                    {
                        <li>
                            <a data-chuc-nang="sua-cau-hoi">Sửa câu hỏi</a>
                        </li>    
                    }
                    @if (coQuyenXoaCauHoi)
                    {
                        <li>
                            <a data-chuc-nang="xoa-cau-hoi">Xóa câu hỏi</a>
                        </li>
                    }
                </ul>
                <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cauhoi-@Model.ma">
                    <i class="pe-7f-config"></i>
                </button>

            </section>
        }
        <section class="thong-tin">
            @if (Model.nguoiTao != null)
            {
                <a href="/NguoiDung/Xem/@Model.nguoiTao.ma">
                    <div class="nguoi-dung">
                        <div class="hinh-dai-dien">                    
                            @NguoiDungView.hinhDaiDien(Model.nguoiTao)
                        </div>
                        <span>@Model.nguoiTao.ho @Model.nguoiTao.tenLot @Model.nguoiTao.ten</span>
                    </div>
                </a>
            }
            <div class="diem-so">
                <i class="arrow-up" data-chuc-nang="cong-diem"></i>
                <span class="so" data-doi-tuong="diem-so">@Model.diem</span>
                <i class="arrow-down" data-chuc-nang="tru-diem"></i>
            </div>

            <div class="thoi-gian">@View.HienThiThoiGian(Model.thoiDiemCapNhat)</div>
        </section>

        <section class="chi-tiet">

            <div class="tieu-de">@Model.tieuDe</div>

            <div class="noi-dung noi-dung-ckeditor">
                @Html.Raw(Model.noiDung)
            </div>

            @if (Model.chuDe != null)
        {
            <ul class="chu-de">
                <li>
                    <a href="#">@Model.chuDe.ten</a>
                </li>
            </ul>
        }

        </section>

    </article>
}