@model DTOLayer.CauHoiDTO
@{
    ViewData["Title"] = Model.tieuDe;
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Hỏi đáp", "/HoiDap",
        Model.tieuDe, "/HoiDap/XemCauHoi/" + Model.ma
    };

    ViewData["ChucNang"] = new List<string>()
    {
        "Tạo câu hỏi", "href='/HoiDap/TaoCauHoi'"
    };
}

@section Styles {
    <link rel="stylesheet" href="/XemCauHoi.css/HoiDap/" />
}
@section Scripts {
    <script src="/CauHoi.js/HoiDap/"></script>
}

<!-- region Câu hỏi -->

<article class="hop hop-1-vien">
    <section class="noi-dung">
        <article class="cau-hoi">
            <section class="thong-tin">
                <div class="nguoi-dung">
                    <div class="hinh-dai-dien">
                        <img src="/LayTapTin/NguoiDung_HinhDaiDien/@Model.nguoiTao.hinhDaiDien.ma" />
                    </div>
                    <span>@Model.nguoiTao.tenTaiKhoan</span>
                </div>
                <div class="cau-hoi">
                    <i class="pe-7s-angle-up"></i>
                    <span class="diem-so">5</span>
                    <i class="pe-7s-angle-down"></i>
                </div>
                <div class="thoi-gian">@Model.thoiDiemTao</div>
            </section>
            <section class="chi-tiet">
                <div class="tieu-de">@Model.tieuDe</div>
                <div class="noi-dung">
                    @Html.Raw(Model.noiDung)
                </div>
                <div class="nut-tra-loi">
                    <a href="#tra_loi_cau_hoi">Trả lời câu hỏi này</a>
                </div>
            </section>
        </article>
    </section>
</article>

<!-- endregion Câu hỏi -->

<!-- region Trả lời -->

<article class="hop">
    <section class="tieu-de">Danh sách trả lời</section>
    <section class="noi-dung">
        @Html.Partial("~/Views/HoiDap/_itemTraLoi.cshtml")
        @Html.Partial("~/Views/HoiDap/_itemTraLoi.cshtml")
        @Html.Partial("~/Views/HoiDap/_itemTraLoi.cshtml")
    </section>
</article>

<!-- endregion Trả lời -->

<!-- region Fom Trả lời -->

<article class="hop hop-2-vien">
    <section class="tieu-de">Trả lời câu hỏi</section>
    <section class="noi-dung">
        <article class="hop-form form-tra-loi">
            <section class="noi-dung">
                <form class="lct-form" id="tra_loi_cau_hoi">
                    <input type="hidden" name="CauHoi" value="@ViewData["CauHoi"]" />
                    <article>
                        <ul>
                            <li>
                                <section class="noi-dung">
                                    <article class="input">
                                        <textarea data-validate="bat-buoc" name="NoiDung" data-input-type="editor" placeholder="Nội dung"></textarea>
                                    </article>
                                </section>
                            </li>
                        </ul>
                        <section class="lct-khung-button">
                            <button class="chap-nhan">Trả lời</button>
                        </section>
                    </article>
                </form>
            </section>
        </article>
    </section>
</article>

<!-- endregion Fom Trả lời -->